p
{
    
}

body
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template:
        "topb" 
        "cont";
}

.topbar
{
    grid-area: topb;
    position: relative;
    height: 120px;
}

.content
{
    grid-area: cont;
    padding-left: 40px;
}

.task
{
    text-indent: 10px;
    background-color: rgb(224, 232, 245);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 60px;
    border-radius: 10px;
}

.delete
{
    background-color: crimson;
}

#text
{
    width: 65%;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    border-color: lightgrey;
    color: black;
    text-align: left;
    text-indent: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-style: italic;
}   

#btn
{
    width: 10%;
    height: 50px;
    border-width: 0px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    font-size: 45px;
}

.checkbox
{
  height: 15px;
}

#wrapper
{
    background-color: #f4f7fc;
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#background
{
    background-color: crimson;
}